<h1>Greenlink</h1>
<h3>Find and donate to verified projects whose goal it is to combat climate change by providing sources of green energy to their communities.</p>
<h5>What is "Green Energy"?</h5>
<p>Green energy refers to renewable and sustainable energy sources, such as solar, wind, hydro, and geothermal, that produce minimal environmental impact and reduce greenhouse gas emissions.</h3>
<h5>why is Green Energy so important?</h5>
<p>Renewable energy is crucial for addressing climate change, reducing dependence on finite fossil fuels, and promoting sustainable economic growth</p>


<%= link_to "Start your search", projects_path%>
