<div class="modal-header">
        <%# PUT YOUR DONATIONS HEADER CONTENT INTO THE H5 %>
  <h5 class="modal-title">Donations: (<%= @project.donations.count %>) </h5>
</div>


      <div class="modal-body">
        <%#  ALL YOUR MODAL BODY CONTENT INSIDE THIS MODAL-BODY DIV %>
        <div id="donations-list">
          <% @project.donations.each do |donation|%>
            <div class="list-decoration-none d-flex align-items-center">
              <i class="fa-solid fa-earth-americas"></i>
              <div>
                <h5><%= donation.user.first_name %> <%= donation.user.last_name %></h5>
                <p><%= humanized_money_with_symbol (donation.amount / 100.00) %> -  Created XXXX time ago</p>
              </div>
            </div>

          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
