<div class="m-4">
  <h5>Bioenergy</h5>
  <p>
    Bioenergy is a form of renewable energy derived from organic materials, known as biomass, which includes plants, agricultural residues, wood, and organic waste. It is used to produce heat, electricity, or biofuels like ethanol and biodiesel. By harnessing the energy stored in biomass through processes like combustion, fermentation, or anaerobic digestion, bioenergy provides a sustainable alternative to fossil fuels, helping to reduce greenhouse gas emissions and promote energy security.
  </p>
  <hr>
  <h5>Biogas</h5>
  <p>
    Biogas is a renewable energy source produced through the anaerobic digestion (or fermentation) of organic materials by bacteria. This process occurs in the absence of oxygen, typically in a biogas digester or landfill, where organic waste such as agricultural residues, food waste, sewage, or even animal manure is broken down.
  </p>
  <hr>

  <h5>Geothermal Energy</h5>
  <p>
    Geothermal energy is a renewable energy source that harnesses the heat stored beneath the Earth’s surface. This energy comes from the natural heat of the Earth, which is continuously produced by the decay of radioactive materials deep in the Earth's crust, as well as the heat left over from the planet's formation.
  </p>
  <hr>

  <h5>Mixed Energy</h5>
  <p>
    "Mixed energy" in the context of renewable energy projects typically refers to the combination of different types of renewable energy sources within a single project or energy system. This can be done to improve energy efficiency, reliability, and reduce the dependency on a single energy source. By integrating multiple renewable technologies, such projects can take advantage of the complementary strengths of each source.
  </p>
  <hr>

  <h5>Solar Energy<h5>
  <p>
    Solar energy is a type of renewable energy that is harnessed from the sun's radiation. It is one of the cleanest and most abundant sources of energy available on Earth. Solar energy can be captured and converted into electricity or heat using different technologies, primarily solar panels and solar thermal systems.
  </p>
  <hr>

  <h5>Wind Energy</h5>
  <p>
    Wind energy is a form of renewable energy that harnesses the power of wind to generate electricity. It involves converting the kinetic energy from wind into mechanical energy using wind turbines. The main components of a wind energy system are the wind turbine, rotors, blades, and the generator.
  </p>
  <hr>

  <h5>Tidal Energy</h5>
  <p>
    Tidal Energy is a form of renewable energy that harnesses the power of tides—regular rises and falls in sea levels caused by the gravitational forces of the moon and the sun—to generate electricity.
  </p>
  <hr>

  <h5>Hyrdopower</h5>
  <p>
    Hydropower, also known as hydroelectric power, is a form of renewable energy that harnesses the energy of moving water to generate electricity. It is one of the oldest and most widely used renewable energy sources in the world.
  </p>
</div>
