<h1>How to make a difference on just three steps</h1>

<p>1. Make sure you have recieve permission from an auditor for you project</p>
<p>2. Before you create your project you must tell us a few things:</p>
<ul>
  <li>The name of your project</li>
  <li>What your project is about</li>
  <li>Where the project located</li>
  <li>And select what green energy type it provides</li>
</ul>
<p>3. Press "post". it's as simple as that!</p>
