<h1>Checkout Summary</h1>
<p>Purchase of <strong><%= @donation_order.project.title %></strong> for <strong> £<%= @donation_order.amount %></strong></p>
<button id="pay" class="btn btn-primary">Pay</button>
      <script>
        const stripePaymentButton = document.getElementById('pay');

        stripePaymentButton.addEventListener('click', () => {
          window.location.replace('<%= @stripe_url %>')
          });
      </script>
