<h1>Checkout Summary</h1>
<p>Purchase of <strong><%= @donation_order.project.title %></strong> for <strong> £<%= (@donation_order.amount.to_f / 100) %>0</strong></p>
<button id="pay" class="button-main-green">Pay</button>
      <script>
        const stripePaymentButton = document.getElementById('pay');

        stripePaymentButton.addEventListener('click', () => {
          window.location.replace('<%= @stripe_url %>')
          });
      </script>
