.cards {
  justify-content: flex-start;
  // height:100dvh;
  // overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 10px;
  padding: 16px 0px;
  flex-grow: 1;
  max-width: 55%;
  margin-bottom: 10px;
}

.card-body{
  background-color: #f0f9f4;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding-left: 0;
  padding-right: 0;
}

.card {
  font-weight: bold;
  display: flex;
  text-decoration: none;
  flex: 1 1 calc(33.33% - 1rem);
  box-sizing: border-box;
  max-width: calc(33.33% - 1rem);
  align-items: stretch;
  min-width: 10rem;
  border-radius: 18px;
  border-style: none;
  flex-direction: column;
  background-color: white;
  // border: 2px solid #DDDDDD;
  &:hover {
    border: 1px solid #888888;
  }
}

.popup-card {
  width: 100%;
  height: 100%;
}

.progress {
  border: 0.5px solid white;
  border-radius: 10px;
  .progress-bar {
    background: #4AA761;
    height: 100%;
    border-radius: 8px;
  }
}

.card-donation{
  border-radius: 16px;
  padding: 28px;
  background-color: #f0f9f4;
  p{
    margin-bottom: 0px;
  }
}

.card-title {
  text-decoration: none;
  border-radius: 8px;
  padding: 3px;
  border: none;
  min-height: 4rem;
  p {
    margin: 0;
  }
}

// .card-body:hover{
//   transition: 0.2s;
//   background-color: #f4f4f4;
//   cursor: pointer;
// }

.thin-card {
  min-width: 10rem;
  padding: 5px;
  border-radius: 16px;
  border: 1px solid #DDDDDD;
  background-color: #f0f9f4;
  &:hover {
    border: 1px solid #888888;
  }
  p {
    margin: 0;
  }
}

.green-card {
  text-decoration: none;
  padding-bottom: 10px;
  border-radius: 16px;
  background-color: #f0f9f4;
  border: 1px solid #DDDDDD;
  &:hover {
    border: 1px solid #888888;
  }
}

.summary-card {
  max-width: 700px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  .summary-box {
    height: 50px;
    background-color: white;
    border-radius: 8px;
  }
}

.card-image {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.profile-cards {
  justify-content: flex-start;
  // height:100dvh;
  // overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 10px;
  padding: 16px 0px;
  flex-grow: 1;
  margin-bottom: 10px;
}

.project-new-container {
  max-width: 840px;
  margin: 16px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f0f9f4;
  border-radius: 8px;
  // border: 1px solid #efe3c8;

  p {
    margin: 0;
  }

  .donation-form {
    .form-group {
      margin-bottom: 20px;

      label {
        display: block;
        font-size: 16px;
        margin-bottom: 8px;
      }
    }
  }

  .tagline {
    padding: 8px;
    background-color: #95D2B3;
    border-radius: 8px;
  }
}

.thin-info-card {
  min-width: 10rem;
  padding: 5px;
  border-radius: 16px;
  border: 1px solid #DDDDDD;
  background-color: #f0f9f4;
  p {
    margin: 0;
  }
}
