.donation-container {
  max-width: 640px;
  margin: 16px auto;
  padding: 20px;
  background-color: #f1fffe;
  border-radius: 8px;

  .donation-form {
    .form-group {
      margin-bottom: 20px;

      label {
        display: block;
        font-size: 16px;
        margin-bottom: 8px;
      }
    }

    .donation-box {
      gap: 10px;
      padding: 16px;
      border-radius: 8px;
      background-color: #6dc1fc;
    }

    .donation-buttons {
      display: flex;
      justify-content: space-between;

      .donation-option {
        width: 16%;
        padding: 10px 15px;
        font-size: 16px;
        font-weight: bold;
        background-color: white;
        color: black;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;

        &:hover {
          border: black;
        }
      }
    }

    .donation-input {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
    }

    .checkout-button {
      width: 100%;
      padding: 10px;
      font-size: 18px;
      font-weight: bold;
      color: white;
      background-color: #4AA761;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #247238;
      }
    }
  }
}

.project-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
