.background-green{
  background-color: #247238;
  height: 100%;
}

svg{
  color: white;
  margin: 0%;
  padding: 0%;
}

.bi-instagram{
  margin:0px 40px;
}

.bi-instagram:hover{
  opacity: 0.7;
}

.bi-twitter-x:hover{
  opacity: 0.7;
}

.bi-facebook:hover{
  opacity: 0.7;
}


.follow-text{
  color: white;
  font-size: x-large;
  font-weight: normal;
  padding-top: 2px;
}

.icons{
  padding-bottom: 15px;
}

.footer{
  margin: auto;
  padding: 0;
}
