.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem 2rem;
  border-bottom: 1px solid #DDDDDD;
  font-family: Arial, sans-serif;
  flex-direction: column; /* Make space for a second row */

  p {
    margin-bottom: 0px;
  }
  .navbar-left {
    display: flex;
    flex-direction: column;

    .logo {
      display: flex;
      align-items: center;
      text-decoration: none;
      .logo-icon {
        width: 30px;
        height: 40px;
        margin-right: 10px;
        object-fit: cover;
      }
      .logo-text {
        font-size: 1.5rem;
        font-weight: bold;
        color: #247238;
        &:hover {
          color: #4AA761;
        }
      }
    }
  }

  .navbar-right {
    display: flex;
    align-items: center;


    .nav-links {
      display: flex;
      gap: 1rem;

      li {
        list-style: none;
        text-decoration: none;
        color: #000;
        font-size: 1rem;
        &:hover {
          color: #247238;
        }
      }
    }
  }

  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    position: relative;

    .search-input {
      padding: 0.5rem;
      border: 1px solid #DDDDDD;
      border-radius: 20px;
      outline: none;
      flex: 1;

      &:focus {
        border-color: rgb(168, 167, 167);
      }
    }

    .search-btn {
      background-color: #4AA761;
      color: #fff;
      border: none;
      border-radius: 18px;
      padding: 0.5rem 1rem;
      cursor: pointer;
      font-size: 0.9rem;
      display: flex;
      align-items: center;
      height: 36px;

      &:hover {
        background-color: #247238;
      }

      i {
        font-size: 1rem;
      }
    }
  }

  .font-adjust {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
    border: 1px solid white;
    border-radius: 30px;
    outline: none;

    .font-label {
      font-size: 0.9rem;
      color: #555;
    }

    &:hover {
      border-color: rgb(168, 167, 167);
    }

    .font-slider {
      -webkit-appearance: none;
      appearance: none;
      height: 5px;
      background: #4AA761;
      border-radius: 5px;
      outline: none;
      cursor: pointer;
      width: 45%;
      &:hover {
        background-color: #247238;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #fff;
        border: 3px solid #4AA761;
        cursor: pointer;
        &:hover {
          border: 3px solid #247238;
        }
      }
    }
  }
}

.form-control {
  background-color: white;
}

.form-select {
  background-color: white;
}
